Node-RED flow for Face Recognition.txt
[{"id":"24c49a88.00c55e","type":"tab","label":"Flow 1"},{"id":"5db3cb0e.b46afc","type":"http in","z":"24c49a88.00c55e","name":"","url":"/manyofus","method":"get","swaggerDoc":"","x":104,"y":219.25,"wires":[["923e3364.60cff"]]},{"id":"923e3364.60cff","type":"switch","z":"24c49a88.00c55e","name":"Check image URL","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":287.5,"y":288.75,"wires":[["1c7f0d0a.3c3073"],["d49975a1.25e0f"]]},{"id":"1c7f0d0a.3c3073","type":"template","z":"24c49a88.00c55e","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to my Face Detection app</h1>\n<H2>Recognize anyone?</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://asbarez.com/wp-content/uploads/2016/02/ibmwatson.jpg\" height='200'/>\n    <img src=\"http://www.awaken.com/wp-content/uploads/2015/05/forbes.jpg\" height='200'/>\n    <img src=\"https://www.commerce.gov/sites/commerce.gov/files/styles/scale_250w/public/media/images/profile/elizabethholmes.jpg?itok=DHmvdC-1\" height='200'/>\n        <br/>Right-click one of the above images and select Copy image location and paste the URL in the box below.<br>Do an image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click that to get the URL.<br/>\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n","x":564.5,"y":192.75,"wires":[["c7c2bc2c.cbf618"]]},{"id":"d49975a1.25e0f","type":"change","z":"24c49a88.00c55e","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":547,"y":365.75,"wires":[["36502733.0a48"]]},{"id":"36502733.0a48","type":"visual-recognition-v3","z":"24c49a88.00c55e","name":"","apikey":"__PWRD__","image-feature":"detectFaces","lang":"en","x":780,"y":395.5,"wires":[["2e32f392.dbfa04"]]},{"id":"2e32f392.dbfa04","type":"template","z":"24c49a88.00c55e","name":"Report faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Alchemy Image Analysis</h1>\n\n<!-- parse all images -->\n{{#result.images}}\n<p>Analyzed image: {{source_url}}<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"200\"/></p>\n\n{{^faces}}\n<P>No Face detected</P>\n{{/faces}}\n\n<table border='1'>\n<thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n{{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n</form>\n","x":922.5,"y":268.75,"wires":[["c7c2bc2c.cbf618"]]},{"id":"c7c2bc2c.cbf618","type":"http response","z":"24c49a88.00c55e","name":"","x":1132,"y":220.5,"wires":[]}]